<!DOCTYPE html>
<html>
  <head>
    <title>Kenobi Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <%=render "layouts/alert"%>
    <% if user_signed_in? %>
      <%= render "layouts/logged" %>
    <% else %>
      <%= render "layouts/auth"%>
    <% end %>
  </body>
</html>
